{% extends "base.html" %}

{% block title %}Profile{% endblock %} 



{% block content %}

<article class="message">
    <div class="message-body">
    <p class="is-size-3 has-text-weight-bold">{{ g.user['first_name'] | upper }} {{ g.user['last_name'] | upper }}
    </p>

    <table class="table is-fullwidth">
      <thead>
        <tr><th>Username</th><th>Full Name</th><th>Role</th></tr>
      </thead>
      <tbody>
        <tr>
        <td>{{ g.user['username'] }}</td>
        <td>{{ g.user['first_name'] }} {{ g.user['last_name'] }}</td>
        <td>{{ g.user['role'] | capitalize }}</td>
        </tr>
      </tbody>
    </table>
  
    </div>
</article><br>

{% if scores %}

<article class="message">
  
  <div class="message-body">
    <p class="is-size-3 has-text-weight-bold">QUIZ SCORES</p>
    <table class="table is-fullwidth">
      <thead>
        <tr><th>Date</th><th>Quiz</th><th class="has-text-right">Score</th></tr>
      </thead>
      <tbody>
    
        {% for score in scores %}
        
        <tr>
          <td>{{ score['date_taken'].strftime('%d %b %Y') }}</td>
          <td>{{ score['quiz_taken'] }}</td>
          {% if score['score'] > 6 %}
          <td class="has-text-success has-text-right">{{ score['score'] }}</td>
          {% else %}
          <td class="has-text-danger has-text-right">{{ score['score'] }}</td>
          {% endif %}
          

        </tr>
        {% endfor %}
      
      </tbody>
    </table>
  </div>
</article><br>
{% endif %}



{% endblock %}