{% extends "base.html" %}

{% block title %}Messages{% endblock %} 


{% block content %}


<!-- MESSAGES -->  
{% for message in messages %}

<article class="message">
  <div class="message-body">    
    <h1 class="title">{{ message['subject'] }}</h1>
    
    {% for item in message['body'].split('\n') %}
    {% if loop.index == 1 %}
    <p class="is-readable has-text-justified">{{ item }}</p>
    {% else %}
    <p class="is-readable has-text-justified pt-3">{{ item }}</p>
    {% endif %}
    {% endfor %}

    <p class="has-text-right has-text-weight-bold is-readable is-blurred pt-2">
      {{ message['username'] | capitalize }} on <time datetime="{{ message['created'].strftime('%Y-%m-%d') }}">{{ message['created'].strftime('%d %b %Y') }}</time>
    </p>
    
    
  {% if g.user['role'] == 'admin' %}
  <div class="buttons is-centered is-small">
    <form action="{{ url_for('contact.delete_message', id=message['id']) }}" method="post">
      <button class="button is-danger is-small has-text-weight-bold" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
    </form> 
  </div>
  {% endif %}


</div>
</article>




{% endfor %}








{% endblock content %}